# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environment
# -----------------------------
venv/
.env/

# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Node (if frontend exists)
# -----------------------------
node_modules/

# -----------------------------
# Build / dist
# -----------------------------
dist/
build/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Test / temp files
# -----------------------------
*.tmp
*.swp

# -----------------------------
# Large files (optional)
# -----------------------------
*.csv
*.zip
*.tar

ui/bun.lockb